

div {
    color: #fff;
    font-weight: bold;
    /* font-size: 22px; */
    /* height: 100px;0.
    width: 100px;  */
    border: 1px solid grey;
    /* padding: 5px; */
    flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}

section {
    border: 2px solid #000;
    /* width: 800px;
    height: 900px; */
    width: 350px;
    height: 100px;
    display: flex;
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    /* align-content: space-around; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: flex-start; */
    /* flex-flow: row wrap; */
    /* 
flex-direction: row; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* gap: 20px 80px; */
    /* flex-wrap: wrap; */

}

#div_01 {
    background: red;
    /* font-size: 50px; */
    /* order: 3; */
    /* flex-grow: 4; */

}

#div_02 {
    background: green;
    /* flex-grow: 4; */
    /* flex-shrink: 4; */
}

#div_03 {
    background: blue;
    /* flex-grow: 4; */
    /* flex-shrink: 2; */
    flex-shrink: 5;
}

#div_04 {
    background: magenta;
    /* order: -4; */
    /* flex-grow: 4; */
    /* flex-shrink: 2; */
}